@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/global.scss";

body {
  position: relative;
}

.c-content {
  background: var(--background);
  color: var(--text);
  font-family: $font-primary;
  min-height: 100vh;
  padding: 5rem 1rem;
  @media (min-width: 560px) {
    padding: 5rem 2rem;
  }
  position: relative;
  width: 100%;

  &--title {
    h1 {
      font-size: 3rem;
      font-size: clamp(2rem, 3vw, 3rem);
      color: var(--frosted-2);

      @media (min-width: 720px) {
        font-size: 4.5em;
      }
    }
    p {
      font-size: 22px;
      font-size: clamp(1rem, 3vw, 1.5rem);
      color: var(--frosted-2);
      margin: 8px 0 1rem 0;
    }
  }
  &--social {
    align-items: center;
    color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 1.7;
    max-width: 550px;

    @media (min-width: 720px) {
      flex-wrap: none;
      justify-content: space-between;
      line-height: inherit;
    }
  }
  .c-content--social-item {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 19px;
    font-size: clamp(0.9rem, 2vw, 1rem);
    &:first-child {
      margin-right: 1rem;
    }
    svg {
      padding-right: 0.2rem;
    }
    @media (min-width: 720px) {
      &:first-child {
        margin-right: 0;
      }
    }
    @media (min-width: 650px) {
      flex: 0;
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

.c-content--main-content {
  display: grid;

  align-items: center;
  justify-content: flex-start;
  @media (min-width: 1000px) {
    display: grid;
  }
  @media (min-width: 0px) and (max-width: 999px) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 10rem 12rem 1fr 15rem 28rem;
  }
  @media (min-width: 600px) and (max-width: 999px) {
    grid-auto-rows: 10rem 12rem 1fr 15rem 23rem;
  }
}

.c-content--experience {
  margin-top: 5rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  @media (min-width: 1000px) {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
  }
  @include marginIconRight();
  @include hgroupTitleColor();
  &--content {
    font-size: 17px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    color: var(--frosted-2);
    margin-top: 1rem;
    padding: 0 0 0 1rem;
  }
  &--gif {
    display: none;
    @media (min-width: 1000px) {
      display: block;
      max-width: 70%;
      padding: 0 0 0 1rem;
    }
  }
}
.c-content--skills {
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  @media (min-width: 1000px) {
    margin-top: 4.8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 5rem;
  }
  font-weight: 400;
  @include marginIconRight();
  @include hgroupTitleColor();

  &-tools {
    padding: 1rem 0 0 1rem;
    color: var(--frosted-2);
    section ul li {
      line-height: 1.5;
      font-size: 17px;
      font-size: clamp(1rem, 2vw, 1.2rem);
      color: var(--frosted);
      font-weight: 400;
    }
    section ul li::marker {
      color: var(--primary);
    }
  }
}
.c-content--education {
  margin-top: 8rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  @media (min-width: 390px) {
    margin-top: 2rem;
  }
  @media (min-width: 1000px) {
    margin-top: 30rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  @include marginIconRight();
  @include hgroupTitleColor();
  .university {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    @media (min-width: 720px) {
      margin-top: 0;
    }
    p {
      margin-top: 0.5rem;
      color: var(--frosted);
      font-size: 17px;
      font-size: clamp(1rem, 2vw, 1.2rem);
      line-height: 3;
      @media (min-width: 720px) {
        margin-top: 0;
      }
      @media (max-width: 450px) {
        line-height: 1.8;
      }
    }
  }
  .university,
  span {
    color: var(--frosted);
    padding: 0 0 0 1rem;
    line-height: 1.5;
    font-size: clamp(17px, 2vw, 1.1rem);
  }
}
.c-content--projects {
  align-self: flex-start;
  margin-top: 8rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  @media (min-width: 390px) {
    margin-top: 2rem;
  }
  @media (min-width: 1000px) {
    grid-column: 1/2;
    margin-top: 50rem;
    grid-row: 1/3;
  }
  @include marginIconRight();
  @include hgroupTitleColor();
  &--container div {
    padding: 1rem 0 0 1.5rem;
    h3 a {
      text-decoration: none;
      color: var(--frosted);
      font-size: clamp(17px, 2vw, 1.1rem);
      transition: color 0.4s ease;
      &:hover {
        color: var(--highlight);
      }
    }
    h3 {
      margin: 0 0 0.5rem 0;
    }
    p {
      color: var(--frosted);
      font-size: 17px;
      font-size: clamp(1rem, 2vw, 1.2rem);
    }
  }
}
.c-content--interests {
  margin-top: 0;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  @media (min-width: 1000px) {
    align-self: center;
    margin-top: 12rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  @include marginIconRight();
  @include hgroupTitleColor();

  span {
    color: var(--frosted);
    display: inline-block;
    font-size: 17px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 1rem 0 0 1rem;
  }
}

.c-footer {
  a {
    align-items: center;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    top: 20px;
    left: 15px;
    @media (min-width: 560px) {
      top: 20px;
      left: 25px;
    }
    background: var(--back);
    transition: background 0.4s ease;
    &:hover {
      background: var(--back-hover);
    }
  }
  .c-button {
    position: absolute;
    top: 20px;
    right: 10px;
    @media (min-width: 560px) {
      top: 20px;
      right: 20px;
    }
  }
}
