@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.2%;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  position: relative;
}

.c-content {
  background: var(--background);
  color: var(--text);
  font-family: "Montserrat", "Lucida Sans", Verdana, sans-serif;
  min-height: 100vh;
  padding: 5rem 1rem;
  position: relative;
  width: 100%;
}

@media (min-width: 560px) {
  .c-content {
    padding: 5rem 2rem;
  }
}

.c-content--title h1 {
  font-size: 3rem;
  font-size: clamp(2rem, 3vw, 3rem);
  color: var(--frosted-2);
}

@media (min-width: 720px) {
  .c-content--title h1 {
    font-size: 4.5em;
  }
}

.c-content--title p {
  font-size: 22px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--frosted-2);
  margin: 8px 0 1rem 0;
}

.c-content--social {
  align-items: center;
  color: var(--primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1.7;
  max-width: 550px;
}

@media (min-width: 720px) {
  .c-content--social {
    flex-wrap: none;
    justify-content: space-between;
    line-height: inherit;
  }
}

.c-content .c-content--social-item {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 19px;
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.c-content .c-content--social-item:first-child {
  margin-right: 1rem;
}

.c-content .c-content--social-item svg {
  padding-right: 0.2rem;
}

@media (min-width: 720px) {
  .c-content .c-content--social-item:first-child {
    margin-right: 0;
  }
}

@media (min-width: 650px) {
  .c-content .c-content--social-item {
    flex: 0;
  }
  .c-content .c-content--social-item:last-child {
    margin-left: 1rem;
  }
}

.c-content--main-content {
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 1000px) {
  .c-content--main-content {
    display: grid;
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  .c-content--main-content {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-auto-rows: 10rem 12rem 1fr 15rem 28rem;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .c-content--main-content {
    grid-auto-rows: 10rem 12rem 1fr 15rem 23rem;
  }
}

.c-content--experience {
  margin-top: 5rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
}

@media (min-width: 1000px) {
  .c-content--experience {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-start;
  }
}

.c-content--experience hgroup {
  display: flex;
  align-items: center;
}

.c-content--experience hgroup svg {
  margin-right: 0.5rem;
}

.c-content--experience hgroup h2 {
  color: #ccd6f6;
}

.c-content--experience hgroup h2 {
  color: var(--primary);
}

.c-content--experience--content {
  font-size: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 400;
  color: var(--frosted-2);
  margin-top: 1rem;
  padding: 0 0 0 1rem;
}

.c-content--experience--gif {
  display: none;
}

@media (min-width: 1000px) {
  .c-content--experience--gif {
    display: block;
    max-width: 70%;
    padding: 0 0 0 1rem;
  }
}

.c-content--skills {
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  font-weight: 400;
}

@media (min-width: 1000px) {
  .c-content--skills {
    margin-top: 4.8rem;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 5rem;
  }
}

.c-content--skills hgroup {
  display: flex;
  align-items: center;
}

.c-content--skills hgroup svg {
  margin-right: 0.5rem;
}

.c-content--skills hgroup h2 {
  color: #ccd6f6;
}

.c-content--skills hgroup h2 {
  color: var(--primary);
}

.c-content--skills-tools {
  padding: 1rem 0 0 1rem;
  color: var(--frosted-2);
}

.c-content--skills-tools section ul li {
  line-height: 1.5;
  font-size: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--frosted);
  font-weight: 400;
}

.c-content--skills-tools section ul li::marker {
  color: var(--primary);
}

.c-content--education {
  margin-top: 8rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
}

@media (min-width: 390px) {
  .c-content--education {
    margin-top: 2rem;
  }
}

@media (min-width: 1000px) {
  .c-content--education {
    margin-top: 30rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.c-content--education hgroup {
  display: flex;
  align-items: center;
}

.c-content--education hgroup svg {
  margin-right: 0.5rem;
}

.c-content--education hgroup h2 {
  color: #ccd6f6;
}

.c-content--education hgroup h2 {
  color: var(--primary);
}

.c-content--education .university {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (min-width: 720px) {
  .c-content--education .university {
    margin-top: 0;
  }
}

.c-content--education .university p {
  margin-top: 0.5rem;
  color: var(--frosted);
  font-size: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  line-height: 3;
}

@media (min-width: 720px) {
  .c-content--education .university p {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .c-content--education .university p {
    line-height: 1.8;
  }
}

.c-content--education .university,
.c-content--education span {
  color: var(--frosted);
  padding: 0 0 0 1rem;
  line-height: 1.5;
  font-size: clamp(17px, 2vw, 1.1rem);
}

.c-content--projects {
  align-self: flex-start;
  margin-top: 8rem;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
}

@media (min-width: 390px) {
  .c-content--projects {
    margin-top: 2rem;
  }
}

@media (min-width: 1000px) {
  .c-content--projects {
    grid-column: 1/2;
    margin-top: 50rem;
    grid-row: 1/3;
  }
}

.c-content--projects hgroup {
  display: flex;
  align-items: center;
}

.c-content--projects hgroup svg {
  margin-right: 0.5rem;
}

.c-content--projects hgroup h2 {
  color: #ccd6f6;
}

.c-content--projects hgroup h2 {
  color: var(--primary);
}

.c-content--projects--container div {
  padding: 1rem 0 0 1.5rem;
}

.c-content--projects--container div h3 a {
  text-decoration: none;
  color: var(--frosted);
  font-size: clamp(17px, 2vw, 1.1rem);
  transition: color 0.4s ease;
}

.c-content--projects--container div h3 a:hover {
  color: var(--highlight);
}

.c-content--projects--container div h3 {
  margin: 0 0 0.5rem 0;
}

.c-content--projects--container div p {
  color: var(--frosted);
  font-size: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.c-content--interests {
  margin-top: 0;
  font-size: 24px;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
}

@media (min-width: 1000px) {
  .c-content--interests {
    align-self: center;
    margin-top: 12rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.c-content--interests hgroup {
  display: flex;
  align-items: center;
}

.c-content--interests hgroup svg {
  margin-right: 0.5rem;
}

.c-content--interests hgroup h2 {
  color: #ccd6f6;
}

.c-content--interests hgroup h2 {
  color: var(--primary);
}

.c-content--interests span {
  color: var(--frosted);
  display: inline-block;
  font-size: 17px;
  font-size: clamp(1rem, 2vw, 1.2rem);
  padding: 1rem 0 0 1rem;
}

.c-footer a {
  align-items: center;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  top: 20px;
  left: 15px;
  background: var(--back);
  transition: background 0.4s ease;
}

@media (min-width: 560px) {
  .c-footer a {
    top: 20px;
    left: 25px;
  }
}

.c-footer a:hover {
  background: var(--back-hover);
}

.c-footer .c-button {
  position: absolute;
  top: 20px;
  right: 10px;
}

@media (min-width: 560px) {
  .c-footer .c-button {
    top: 20px;
    right: 20px;
  }
}
