$borders: #1d2730;
$texts: rgb(250, 250, 250);
$white: #fff;
$highlight: rgb(251, 55, 127);
$mediumBackground: rgb(30, 30, 55);
$background: rgb(25, 25, 49);
$primary: #64ffda;
$black: #111;
$active: rgb(251, 55, 127);
$separator: rgb(100, 100, 100);
$inverse: #efefef;
$terminal: rgb(30, 30, 55);
$frosted: #ccd6f6;
$frosted-2: #b8becf;
$text_underline: #4d3e64;
$circles_animation: rgba(251, 55, 127, 0.21);

$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin marginIconRight($margin: 0.5rem, $color: $frosted) {
  hgroup {
    display: flex;
    align-items: center;
    svg {
      margin-right: $margin;
    }
    h2 {
      color: $color;
    }
  }
}

@mixin hgroupTitleColor() {
  hgroup h2 {
    color: var(--primary);
  }
}
