@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap");

$font-primary: "Montserrat", "Lucida Sans", Verdana, sans-serif;

@function calculateRem($size) {
  @return $size / 16px * 1rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: clamp(19px, 2vw, calculateRem($size));
}
