@import "fonts.scss";
@import "colors.scss";

body {
  color: $white;
  width: 100%;
  position: relative;
  display: grid;
  font-family: $font-primary;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 4rem 1fr 3rem;
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 1rem;
  background: var(--mediumBackground);
  position: relative;
  z-index: 2;
  &--profile {
    display: flex;
    align-items: center;
  }
  .c-profile {
    border-radius: 50rem;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
  }
  .c-name {
    @include fontSize(16px);
    padding-left: 1rem;
    color: var(--frosted);
  }
}

.c-content {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;

  @media (min-width: 600px) {
    padding: 0 3rem;
  }

  .c-description {
    grid-column: 1/3;
    color: var(--frosted-2);
    margin-top: 4rem;
    transition: font-size 0.4s, color 0.4s, border-color 0.4s ease;

    &--name {
      @include fontSize(16px);
      padding-bottom: 0.5rem;
      display: inline-block;
      color: var(--primary);
    }
    &--title {
      font-size: 2rem;
      @media (min-width: 600px) {
        @include fontSize(70px);
      }
    }
    &--user-description {
      max-width: 100%;
      color: var(--frosted-2);
      @include fontSize(16px);
      line-height: 1.3;
      display: inline-block;
      padding: 1rem 0 0 0;
      transition: color 0.4s ease;
      @media (min-width: 750px) {
        max-width: 80%;
        line-height: 1.6;
      }
      @media (min-width: 1050px) {
        max-width: 50%;
        line-height: 1.6;
      }
    }
    &--user-course {
      color: var(--frosted-2);
      margin: 1rem 0 0 0;
      transition: color 0.4s ease;
    }
    &--user-study {
      margin: 1rem 0 0 0;
    }
    &--curriculum {
      padding: 1rem 2rem;
      background: var(--background);
      border: none;
      color: var(--primary);
      text-decoration: none;
      @include fontSize(16px);
      font-weight: 500;
      border: 2px solid var(--primary);
      display: inline-block;
      transition: all 0.4s ease;
      &:hover {
        color: var(--primary-hover);
        border: 2px solid var(--primary-hover);
      }
    }
    &--user-contact {
      display: inline-block;
      stroke: var(--primary);
      stroke-width: 1px;
      margin: 1rem 0 1rem 0;
      cursor: pointer;
      will-change: transition;
      transition: $transition;
      &:hover {
        stroke: var(--primary-hover);
      }
    }
  }

  .c-classes {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .c-classes .c-classes-table {
    background: var(--background);
    @include fontSize(14px);
  }

  .c-classes .c-classes-table tbody tr td {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    @media (min-width: 560px) {
      @include fontSize(14px);
      padding: 1.2rem 0.5rem;
    }
  }

  .c-classes .c-classes--title {
    @include fontSize(23px);
  }

  .c-description {
    @include fontSize(14px);
    width: 100%;
  }

  .c-classes-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: $font-primary;
    @include fontSize(12px);
    box-shadow: 0 0 20px rgba(53, 207, 120, 0.15);
    transition: color 0.4s ease;

    thead tr {
      background-color: var(--primary);
      color: var(--background);
    }
    td {
      padding: 0.5rem 0.7rem;
      color: var(--text);
      transition: $transition;
      background-color: var(--background);
    }
    td:hover {
      background-color: var(--mediumBackground);
    }
    tbody tr:hover {
      background: var(--mediumBackground);
    }
    tbody tr:nth-of-type(even) {
      background-color: var(--mediumBackground);
    }
  }
  .c-desktop-image {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    display: none;
    grid-column: 2/3;
    grid-row: 1/2;

    img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 40px rgba(4, 255, 163, 0.15);
      @media (min-width: 950px) {
        max-width: 70%;
        top: 1rem;
      }
      @media (min-width: 1200px) {
        position: relative;
        top: 4rem;
        max-width: 60%;
      }
    }
    @media (min-width: 750px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.c-footer {
  position: absolute;
  height: 5rem;
  bottom: 0;
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mediumBackground);

  &--list-item {
    list-style: none;
    @include fontSize(16px);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: var(--text);
      transition: $transition;
      text-decoration: none;
    }
    a:hover {
      color: var(--primary-hover);
    }
  }
  &--separator {
    padding: 0 1rem 0 1rem;
  }
}
