@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,900;1,400&display=swap");
body {
  color: #fff;
  width: 100%;
  position: relative;
  display: grid;
  font-family: "Montserrat", "Lucida Sans", Verdana, sans-serif;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 4rem 1fr 3rem;
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0 1rem;
  background: var(--mediumBackground);
  position: relative;
  z-index: 2;
}

.c-header--profile {
  display: flex;
  align-items: center;
}

.c-header .c-profile {
  border-radius: 50rem;
  min-width: 3rem;
  min-height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
}

.c-header .c-name {
  font-size: 16px;
  font-size: clamp(19px, 3vw, 1rem);
  padding-left: 1rem;
  color: var(--frosted);
}

.c-content {
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-items: center;
}

@media (min-width: 600px) {
  .c-content {
    padding: 0 3rem;
  }
}

.c-content .c-description {
  grid-column: 1/3;
  color: var(--frosted-2);
  margin-top: 4rem;
  transition: font-size 0.4s, color 0.4s, border-color 0.4s ease;
}

.c-content .c-description--name {
  font-size: 16px;
  font-size: clamp(19px, 3vw, 1rem);
  padding-bottom: 0.5rem;
  display: inline-block;
  color: var(--primary);
}

.c-content .c-description--title {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .c-content .c-description--title {
    font-size: 70px;
    font-size: clamp(19px, 3vw, 4.375rem);
  }
}

.c-content .c-description--user-description {
  max-width: 100%;
  color: var(--frosted-2);
  font-size: 16px;
  font-size: clamp(19px, 3vw, 1rem);
  line-height: 1.3;
  display: inline-block;
  padding: 1rem 0 0 0;
  transition: color 0.4s ease;
}

@media (min-width: 750px) {
  .c-content .c-description--user-description {
    max-width: 80%;
    line-height: 1.6;
  }
}

@media (min-width: 1050px) {
  .c-content .c-description--user-description {
    max-width: 50%;
    line-height: 1.6;
  }
}

.c-content .c-description--user-course {
  color: var(--frosted-2);
  margin: 1rem 0 0 0;
  transition: color 0.4s ease;
}

.c-content .c-description--user-study {
  margin: 1rem 0 0 0;
}

.c-content .c-description--curriculum {
  padding: 1rem 2rem;
  background: var(--background);
  border: none;
  color: var(--primary);
  text-decoration: none;
  font-size: 16px;
  font-size: clamp(19px, 3vw, 1rem);
  font-weight: 500;
  border: 2px solid var(--primary);
  display: inline-block;
  transition: all 0.4s ease;
}

.c-content .c-description--curriculum:hover {
  color: var(--primary-hover);
  border: 2px solid var(--primary-hover);
}

.c-content .c-description--user-contact {
  display: inline-block;
  stroke: var(--primary);
  stroke-width: 1px;
  margin: 1rem 0 1rem 0;
  cursor: pointer;
  will-change: transition;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-content .c-description--user-contact:hover {
  stroke: var(--primary-hover);
}

.c-content .c-classes {
  grid-row: 2/3;
  grid-column: 1/3;
}

.c-content .c-classes .c-classes-table {
  background: var(--background);
  font-size: 14px;
  font-size: clamp(19px, 3vw, 0.875rem);
}

.c-content .c-classes .c-classes-table tbody tr td {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
}

@media (min-width: 560px) {
  .c-content .c-classes .c-classes-table tbody tr td {
    font-size: 14px;
    font-size: clamp(19px, 3vw, 0.875rem);
    padding: 1.2rem 0.5rem;
  }
}

.c-content .c-classes .c-classes--title {
  font-size: 23px;
  font-size: clamp(19px, 3vw, 1.4375rem);
}

.c-content .c-description {
  font-size: 14px;
  font-size: clamp(19px, 3vw, 0.875rem);
  width: 100%;
}

.c-content .c-classes-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-family: "Montserrat", "Lucida Sans", Verdana, sans-serif;
  font-size: 12px;
  font-size: clamp(19px, 3vw, 0.75rem);
  box-shadow: 0 0 20px rgba(53, 207, 120, 0.15);
  transition: color 0.4s ease;
}

.c-content .c-classes-table thead tr {
  background-color: var(--primary);
  color: var(--background);
}

.c-content .c-classes-table td {
  padding: 0.5rem 0.7rem;
  color: var(--text);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--background);
}

.c-content .c-classes-table td:hover {
  background-color: var(--mediumBackground);
}

.c-content .c-classes-table tbody tr:hover {
  background: var(--mediumBackground);
}

.c-content .c-classes-table tbody tr:nth-of-type(even) {
  background-color: var(--mediumBackground);
}

.c-content .c-desktop-image {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  display: none;
  grid-column: 2/3;
  grid-row: 1/2;
}

.c-content .c-desktop-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(4, 255, 163, 0.15);
}

@media (min-width: 950px) {
  .c-content .c-desktop-image img {
    max-width: 70%;
    top: 1rem;
  }
}

@media (min-width: 1200px) {
  .c-content .c-desktop-image img {
    position: relative;
    top: 4rem;
    max-width: 60%;
  }
}

@media (min-width: 750px) {
  .c-content .c-desktop-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-footer {
  position: absolute;
  height: 5rem;
  bottom: 0;
  width: 100%;
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mediumBackground);
}

.c-footer--list-item {
  list-style: none;
  font-size: 16px;
  font-size: clamp(19px, 3vw, 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-footer--list-item a {
  color: var(--text);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
}

.c-footer--list-item a:hover {
  color: var(--primary-hover);
}

.c-footer--separator {
  padding: 0 1rem 0 1rem;
}
