@keyframes rotateLight {
  from {
    transform: rotate(40deg);
    opacity: 0;
  }

  to {
    transform: rotate(90deg);
    opacity: 1;
  }
}

@keyframes rotateDark {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

body {
  background: var(--background);
  height: 100vmin;
}

/* define color theme */
body.is-light {
  --borders: #1d2730;
  --text: rgb(30, 30, 55);
  --white: rgb(0, 0, 0);
  --highlight: rgb(251, 55, 127);
  --mediumBackground: rgb(247, 240, 240);
  --background: rgb(255, 255, 255);
  --primary: rgb(251, 55, 127);
  --primary-hover: rgb(238, 121, 164);
  --black: #111;
  --active: rgb(251, 55, 127);
  --separator: rgb(100, 100, 100);
  --inverse: #efefef;
  --terminal: rgb(30, 30, 55);
  --frosted: rgb(30, 30, 55);
  --frosted-2: rgb(64, 64, 99);
  --text_underline: #4d3e64;
  --back: rgb(251, 55, 127);
  --back-hover: rgb(243, 83, 142);
  --circles_animation: rgba(251, 55, 127, 0.21);
}

body.is-dark {
  --borders: #1d2730;
  --text: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
  --highlight: rgb(251, 55, 127);
  --mediumBackground: rgb(30, 30, 55);
  --background: rgb(25, 25, 49);
  --primary: #64ffda;
  --primary-hover: #80eed4;
  --black: #111;
  --active: rgb(251, 55, 127);
  --separator: rgb(100, 100, 100);
  --inverse: #efefef;
  --terminal: rgb(30, 30, 55);
  --frosted: #ccd6f6;
  --frosted-2: #b8becf;
  --back: rgb(251, 55, 127);
  --back-hover: rgb(243, 83, 142);
  --text_underline: #4d3e64;
  --circles_animation: rgba(251, 55, 127, 0.21);
}

/* toggle theme */
.c-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  max-width: 2.6rem;
}

.c-button__dark,
.c-button__light {
  display: none;
}

/* toggle show icon */
body.is-light .c-button__light {
  display: flex;
}

body.is-dark .c-button__dark {
  display: flex;
}

/* svg animation*/
.light {
  will-change: transform;
  transition: 0.4s ease-in;
  animation: rotateLight 1s;
  fill: var(--white);
  stroke: var(--white);
}

.dark {
  will-change: transform;
  transition: 0.4s ease-in;
  animation: rotateDark 1s forwards;
  fill: var(--white);
  stroke: var(--white);
}
